header#banner.hero-unit
  .container
    h1 Welcome to NetJam
    p.lead Jam on the Net!
    //- img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row(style='padding-top:70px')
    .col-lg-12
      h1.page-header.text-center Please sign up or log in to get started!
